.cart-index-page {
  padding-top: 40px;
  max-width: 1350px;
  margin: auto;
  background-color: antiquewhite;
  div {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    h1 {
      font-size: x-large;
      font-weight: 300;
    }
  }
}

.cart-index-wrapper {
  display: flex;
  justify-content: space-between;
}

.cart-index-left {
  width: 60%;
}

.cart-index-item-wrapper {
  background-color: lightgreen;
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin: 30px;
  border-bottom: 2px, lightgray solid;
}

.cart_index-item-image {
  img {
    width: 184px;
    height: 149px;
  }
}

/* ---  payment section --*/
.cart-index-right-payment {
  height: 600px;
  width: 400px;
  border-radius: 20px;
  border: 1px lightgray solid;
  background-color: lightseagreen;
}
