.footer-what-is-artsy {
  background-color: #fbeedc;
  height: 400px;
  margin-top: 70px;
}

.footer-WIA-wrapper {
  max-width: 1350px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.footer-WIA-top {
  height: 60px;
}

.footer-WIA-inner {
  margin: 10px;
  width: 33%;
  h1 {
    font-size: 38px;
    display: flex;
    justify-content: center;
    font-weight: 300;
    padding-top: 20px;
  }
  h2 {
    font-size: 28px;
    padding: 50px 10px 30px 0;
    text-align: left;
    line-height: 1.5;
  }
  p {
    font-size: 14px;
    line-height: 1.5;
    text-align: left;
    font-weight: 300;
    letter-spacing: 1.5px;
  }
}

.footer-question {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*-------------------*/

.footer-subscribe {
  height: 134px;
  background-color: #d7e6f5ec;
}

.footer-powered-by-renewable-elec {
  height: 60px;
  background-color: #5c7ddf;
}

.footer-links {
  background-color: #344d76;
  height: 300px;
}

.footer-my-info {
  background-color: rgb(34, 34, 34);
  height: 80px;
}
