.editors-pick-wrapper {
  height: 516px;
  margin-bottom: 100px;
  img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
  }
}

.editors-pick-top,
.editors-pick-bottom {
  display: flex;
  justify-content: space-between;
  height: 50%;
  div {
    margin: 15px;
  }
}

.editors-pick-inner-box-1 {
  width: 25%;

  h1 {
    font-size: x-large;
    padding: 20px 0;
    font-weight: 400;
  }
  h3 {
    font-size: large;
  }
  p {
    color: gray;
    padding-top: 40px;
  }
}

.editors-pick-inner-box-2 {
  width: 24%;
}
.editors-pick-inner-box-4,
.editors-pick-inner-box-5 {
  position: relative;
  width: 28%;
}
.editors-pick-inner-box-3,
.editors-pick-inner-box-7 {
  width: 23%;
}

.editors-pick-inner-box-6 {
  width: 26%;
}

.editors-pick-inner-box-8 {
  width: 23%;
  display: flex;
  align-items: center;
  line-height: 1.6;
  color: rgb(84, 83, 83);
}

.editors-pick-inner-box-images {
  position: relative;
  // background-color: transparent;
}

.editors-pick-price {
  position: absolute;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.845);
  bottom: 20px;
  left: 40px;
  font-size: medium;
  padding: 5px;
  &:hover {
    outline: auto;
  }
}

.editors-pick-inner-box-images:hover {
  box-shadow: 0px 0px 17px 2px rgba(108, 107, 107, 0.43);
  background-color: transparent;

  cursor: pointer;

  border-radius: 20px;
}

//hover text
.hover-area {
  position: relative;
  padding: 0;
  width: 300px;
  display: block;
  cursor: pointer;
  overflow: hid;
}

.hover-text {
  opacity: 0;
  font-size: 15px;
  position: absolute;
  top: 60%;
  left: 20%;
  color: white;
  background-color: rgba(0, 0, 0, 0.551);
  width: 210px;
  height: 45px;
  -webkit-transition: all 400ms ease-out;
  -moz-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  -ms-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  text-align: center;
  font-family: "Graphik Webfont", -apple-system, "Helvetica Neue", "Droid Sans",
    Arial, sans-serif;
  font-weight: 400;
}

.hover-area .hover-text:hover {
  opacity: 1;
  overflow: hidden;
}

.hover-area .hover-text .text {
  height: 0;
  opacity: 1;
  transition-delay: 0s;
  transition-duration: 0.4s;
  overflow: hidden;
}

.hover-area .hover-text .text {
  opacity: 1;
  overflow: hidden;
}
