.editors-pick-wrapper {
  height: 516px;
  img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
}

.editors-pick-top,
.editors-pick-bottom {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  height: 50%;
  div {
    margin: 15px;
  }
}

.editors-pick-inner-box-1 {
  width: 25%;

  h1 {
    font-size: x-large;
    padding: 20px 0;
    font-weight: 600;
  }
  h3 {
    font-size: large;
  }
  p {
    color: gray;
    padding-top: 40px;
  }
}

.editors-pick-inner-box-2 {
  width: 24%;
}
.editors-pick-inner-box-4,
.editors-pick-inner-box-5 {
  position: relative;
  width: 28%;
}
.editors-pick-inner-box-3,
.editors-pick-inner-box-7 {
  width: 23%;
}

.editors-pick-inner-box-6 {
  width: 26%;
}

.editors-pick-inner-box-8 {
  width: 23%;
  display: flex;
  align-items: center;
  line-height: 1.6;
  color: rgb(84, 83, 83);
}

.editors-pick-inner-box-images:hover {
  position: relative;
  box-shadow: 0px 0px 17px 2px rgba(108, 107, 107, 0.43);
  background-color: transparent;
  cursor: pointer;
}

.editors-pick-price {
  position: absolute;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.845);
  bottom: 20px;
  left: 20px;
  font-size: medium;
  padding: 5px;
}
