.most-popular-wrapper {
  height: 650px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;

  p {
    font-weight: 300;
    font-size: medium;
    text-overflow: clip;
    padding: 3px;
    font-family: "Graphik Webfont", -apple-system, "Helvetica Neue",
      "Droid Sans", Arial, sans-serif;
    line-height: 1.2;
  }
}

.most-popular-top {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  .most-popular-top-left {
    width: 146px;
    h1 {
      font-weight: 600;
      font-size: xx-large;
      padding: 10px 0;
    }
  }
}

.most-popular-top-right {
  width: 100%;
  i {
    padding-top: 10px;
    color: orange;
  }
}

.most-popular-bottom {
  display: flex;
  justify-content: space-between;
  height: 90%;
  div {
    margin: 0 0 40px 0;
  }
}

.most-popular-bottom-left {
  width: 25%;
  div {
    width: 100%;
    img {
      width: 90%;
      max-height: 80%;
      border-radius: 20px;
      object-fit: contain;
      overflow: hidden;
      background-size: cover;
    }
  }
}

.most-popular-bottom-right {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 73%;
}

.most-popular-bottom-right-top,
.most-popular-bottom-right-bottom {
  display: flex;
  justify-content: space-between;
  height: 45%;
}

.most-popular-inner-boxes {
  img {
    padding-left: 15px;
    width: 90%;
    height: 90%;
    border-radius: 20px;
    object-fit: cover;
  }
}

.most-popular-inner-box-images {
  position: relative;
}

.most-popular-price {
  position: absolute;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.845);
  bottom: 30px;
  left: 40px;
  font-size: medium;
  padding: 5px;
  &:hover {
    outline: auto;
  }
}

.most-popular-inner-box-images:hover {
  box-shadow: 0px 0px 17px 2px rgba(108, 107, 107, 0.43);
  background-color: transparent;

  cursor: pointer;

  border-radius: 20px;
}

//hover text
.hover-area {
  position: relative;
  padding: 0;
  width: 300px;
  display: block;
  cursor: pointer;
  overflow: hid;
}

.hover-text {
  opacity: 0;
  font-size: 15px;
  position: absolute;
  top: 60%;
  left: 20%;
  color: white;
  background-color: rgba(0, 0, 0, 0.551);
  width: 210px;
  height: 45px;
  -webkit-transition: all 400ms ease-out;
  -moz-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  -ms-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  text-align: center;
  font-family: "Graphik Webfont", -apple-system, "Helvetica Neue", "Droid Sans",
    Arial, sans-serif;
  font-weight: 400;
}

.hover-area .hover-text:hover {
  opacity: 1;
  overflow: hidden;
}

.hover-area .hover-text .text {
  height: 0;
  opacity: 1;
  transition-delay: 0s;
  transition-duration: 0.4s;
  overflow: hidden;
}

.hover-area .hover-text .text {
  opacity: 1;
  overflow: hidden;
}
