.most-popular-wrapper {
  height: 650px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  p {
    font-weight: 300;
    font-size: medium;
    text-overflow: clip;
    padding: 5px;
    font-family: "Graphik Webfont", -apple-system, "Helvetica Neue",
      "Droid Sans", Arial, sans-serif;
    line-height: 1.2;
  }
}

.most-popular-top {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  .most-popular-top-left {
    width: 246px;
    h1 {
      font-weight: 600;
      font-size: xx-large;
      padding: 10px 0;
    }
  }
}

.most-popular-top-right {
  width: 100%;
  i {
    padding-top: 10px;
    color: orange;
  }
}

.most-popular-bottom {
  display: flex;
  justify-content: space-between;
  height: 90%;
  div {
    margin: 0 0 40px 0;
  }
}

.most-popular-bottom-left {
  width: 25%;
  img {
    padding-top: 5px;
    width: 337px;
    height: 440px;
    border-radius: 160px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 20px;
  }

  a {
    text-decoration: none;
    color: rgb(100, 100, 100);
    padding-top: 10px;
    font-weight: 400;
  }
  p {
    color: rgb(100, 100, 100);
    padding-top: 10px;
    font-weight: 400;
  }
  h2 {
    font-weight: 600;
    padding-left: 8px;
  }
  &:hover {
    box-shadow: 0px 0px 17px 2px rgba(108, 107, 107, 0.43);
    cursor: pointer;
    border-radius: 20px;
    background-color: transparent;
  }
}

/* --- right side random images */
.most-popular-bottom-right {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 73%;
}

.most-popular-bottom-right-top,
.most-popular-bottom-right-bottom {
  display: flex;
  justify-content: space-between;
  height: 45%;
}

.most-popular-inner-boxes {
  &:hover {
    box-shadow: 0px 0px 17px 2px rgba(108, 107, 107, 0.43);
    background-color: transparent;
    cursor: pointer;
    border-radius: 20px;
  }
  img {
    padding-left: 15px;
    width: 90%;
    height: 90%;
    border-radius: 20px;
    object-fit: cover;
  }
  a {
    text-decoration: none;
    color: rgb(100, 100, 100);
  }
  p {
    color: rgb(100, 100, 100);
    padding: 10px 15px 0;

    font-size: 13px;
    font-weight: 400;
    text-align: center;
  }
}

.most-popular-inner-box-images {
  position: relative;
}

.most-popular-price {
  position: absolute;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.845);
  bottom: 30px;
  left: 40px;
  font-size: medium;
  padding: 5px;
  &:hover {
    outline: auto;
  }
}
