.editors-pick-wrapper {
  height: 516px;
  img {
    width: 100%;
    height: 100%;
  }
}

.editors-pick-top,
.editors-pick-bottom {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  height: 50%;
  div {
    margin: 20px;
  }
}

.editors-pick-inner-box-1 {
  width: 26%;
  transform: translateY(30%);
  padding: 10px 0;
  h1 {
    font-size: x-large;
    padding: 20px 0;
    font-weight: 600;
  }
  h3 {
    font-size: large;
  }
}

.editors-pick-inner-box-2 {
  width: 23%;
}
.editors-pick-inner-box-3 {
  display: flex;
  flex: 1;
}
.editors-pick-inner-box-4 {
  width: 23%;
}
.editors-pick-inner-box-5 {
  width: 26%;
}
.editors-pick-inner-box-6 {
  width: 23%;
}
.editors-pick-inner-box-7 {
  display: flex;
  flex: 1;
}
.editors-pick-inner-box-8 {
  width: 23%;
  display: flex;
  align-items: center;
  line-height: 1.6;
  color: rgb(84, 83, 83);
}
