.most-popular-wrapper {
  height: 650px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;

  p {
    font-weight: 300;
    font-size: medium;
    text-overflow: clip;
    padding: 3px;
    font-family: "Graphik Webfont", -apple-system, "Helvetica Neue",
      "Droid Sans", Arial, sans-serif;
    line-height: 1.2;
  }
}

.most-popular-top {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  .most-popular-top-left {
    width: 246px;
    h1 {
      font-weight: 600;
      font-size: xx-large;
      padding: 10px 0;
    }
  }
}

.most-popular-top-right {
  width: 100%;
  i {
    padding-top: 10px;
    color: orange;
  }
}

.most-popular-bottom {
  display: flex;
  justify-content: space-between;
  height: 90%;
  div {
    margin: 0 0 40px 0;
  }
}

.most-popular-bottom-left {
  width: 25%;
  div {
    width: 100%;
    img {
      width: 90%;
      max-height: 80%;
      border-radius: 20px;
      object-fit: contain;
      overflow: hidden;
      background-size: cover;
    }
  }
  a {
    text-decoration: none;
    color: rgb(100, 100, 100);
  }
  &:hover {
    box-shadow: 0px 0px 17px 2px rgba(108, 107, 107, 0.43);
    background-color: transparent;
    cursor: pointer;
    border-radius: 20px;
  }
}

.most-popular-bottom-right {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 73%;
}

.most-popular-bottom-right-top,
.most-popular-bottom-right-bottom {
  display: flex;
  justify-content: space-between;
  height: 45%;
}

.most-popular-inner-boxes {
  img {
    padding-left: 15px;
    width: 90%;
    height: 90%;
    border-radius: 20px;
    object-fit: cover;
  }
  &:hover {
    box-shadow: 0px 0px 17px 2px rgba(108, 107, 107, 0.43);
    background-color: transparent;
    cursor: pointer;
    border-radius: 20px;
  }
  a {
    text-decoration: none;
    color: rgb(100, 100, 100);
  }
}

.most-popular-inner-box-images {
  position: relative;
}

.most-popular-price {
  position: absolute;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.845);
  bottom: 30px;
  left: 40px;
  font-size: medium;
  padding: 5px;
  &:hover {
    outline: auto;
  }
}
