.nav-bar-main {
  height: 72px;
  align-items: center;
}

.nav-bar-wrapper {
  border-bottom: solid lightgray 2px;
}

.nav-bar-main > div {
  max-width: 1350px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.nav-bar-main-logo a {
  text-decoration: none;
  height: 48px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  font-size: 38px;
  color: #ec7d10;
  margin-right: 10px;
  font-family: "Guardian-EgypTT", Charter, "Charter Bitstream", Cambria,
    "Noto Serif Light", "Droid Serif", Georgia, serif;
}

.nav-bar-main-search {
  height: 48px;
  width: 100%;
}

.nav-bar-search-section {
  display: flex;
  justify-content: space-between;
  float: 1;
}

/*------ search bar ----*/
.nav-bar-main-search > form > input[type="search"]:nth-child(1) {
  margin-left: 20px;
  margin-top: 2px;
  width: 100%;
  height: 47px;
  border-radius: 40px 0 0 40px;
  font-size: medium;
  text-indent: 1em;
  display: flex;
  flex: 1;
  background-color: #f6f1ea7b;
  border-width: 2px 0 2px 2px;
  border-color: #222222;
  &:focus {
    background-color: white;
    border-width: 2px 0 2px 2px;
    outline: 1px solid black;
    transition: 0.3s;
  }
  &:focus + button {
    border-width: 2px 2px 2px 0;
    outline: 1px solid black;
    background-color: #9593907b;
    transition: 0.3s;
  }
}

/*------ search botton ----*/
.nav-bar-search-btn {
  margin-top: 2px;
  width: 62px;
  height: 47px;
  border-radius: 0 40px 40px 0;
  border-width: 2px 2px 2px 0;
  border-color: #222222;
  background-color: #f6f1ea7b;
  margin-right: 10px;
  &:hover {
    background-color: #9593907b;
    border-width: 2px 2px 2px 2px;
    ::-webkit-search-results-decoration {
      display: none;
      ::-ms-reveal {
        display: none;
        width: 0;
        height: 0;
      }
    }
    transition: 0.3s;
  }
}

.fa-magnifying-glass {
  width: 24px;
  height: 24px;
}

/* ----Sign in link--- */

.signin-link {
  text-decoration: none;
  padding: 15px 15px;
  &:hover {
    background-color: #f69d2222;
    border-radius: 20px;
    transition: 0.5ms;
    cursor: pointer;
  }
}

/* ----Account Manager--- */

.nav-bar-main-accout-manager {
  height: 48px;
  width: 100px;
  display: flex;
  align-items: center;
}

.user-menu-main {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 10;
  &:hover .user-menu-dropdown {
    display: block;
    cursor: pointer;
  }
}

.user-menu-entry {
  display: flex;
  justify-content: space-around;
  padding: 10px 15px;
  i {
    margin: 2px;
  }
  .fa-sort-down {
    transform: translateY(5px);
  }
  &:hover {
    background-color: #f69d2222;
    border-radius: 20px;
    transition: 0.5ms;
    cursor: pointer;
  }
}

.user-menu-dropdown {
  display: none;
  position: absolute;
  top: 56px;
  right: 5px;
  width: 210px;
  border: lightgray 1px solid;
  border-radius: 20px;
  padding: 10px 0 0 0;
  background-color: white;
  font-family: "Guardian-EgypTT", Charter, "Charter Bitstream", Cambria,
    "Noto Serif Light", "Droid Serif", Georgia, serif;
  font-size: small;
  i {
    // color: orange;
  }
  div {
    background-color: rgb(235, 233, 233);
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    text-indent: 20px;
  }
  p {
    margin: 10px 0;
    height: 40px;
    display: flex;
    align-items: center;
    &:hover {
      background-color: rgb(235, 233, 233);
      cursor: pointer;
    }
  }
}

.user-menu-dropdown a:hover {
  cursor: pointer;
}

.user-menu-clicks-orders {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  text-indent: 20px;
}

.fa-right-from-bracket {
  text-indent: 20px;
  // color: #ec7d10;
  top: 50px;
  margin-left: 20px;
  display: flex;
  align-items: center;
}

/* ----Shopping Cart Iconr--- */
.nav-bar-main-cart {
  position: relative;
  height: 48px;
  width: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cartQuantity {
  position: absolute;
  padding: 5 10px;
  background-color: orange;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: small;
  top: 0;
  left: 35px;
}
