.nav-bar-main {
  height: 72px;
  align-items: center;
}

.nav-bar-wrapper {
  border-bottom: solid lightgray 2px;
}

.nav-bar-main > div {
  max-width: 1350px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.nav-bar-main-logo a {
  text-decoration: none;
  height: 48px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  font-size: 38px;
  color: #ec7d10;
  margin-right: 10px;
  font-family: "Guardian-EgypTT", Charter, "Charter Bitstream", Cambria,
    "Noto Serif Light", "Droid Serif", Georgia, serif;
}

.nav-bar-main-search {
  height: 48px;
  width: 100%;
}

.nav-bar-search-section {
  display: flex;
  justify-content: space-between;
  float: 1;
}

//search bar
.nav-bar-main-search > form > input[type="search"]:nth-child(1) {
  margin-left: 20px;
  margin-top: 2px;
  width: 100%;
  height: 47px;
  border-radius: 40px 0 0 40px;
  font-size: medium;
  text-indent: 1em;
  display: flex;
  flex: 1;
  background-color: #f6f1ea7b;
  border-width: 2px 0 2px 2px;
  border-color: #222222;
  &:focus {
    background-color: white;
    border-width: 2px 0 2px 2px;
    outline: 1px solid black;
    transition: 0.3s;
  }
  &:focus + button {
    border-width: 2px 2px 2px 0;
    outline: 1px solid black;
    background-color: #9593907b;
    transition: 0.3s;
  }
}

//search button
.nav-bar-search-btn {
  margin-top: 2px;
  width: 62px;
  height: 47px;
  border-radius: 0 40px 40px 0;
  border-width: 2px 2px 2px 0;
  border-color: #222222;
  background-color: #f6f1ea7b;
  margin-right: 20px;
  &:hover {
    background-color: #9593907b;
    border-width: 2px 2px 2px 2px;
    ::-webkit-search-results-decoration {
      display: none;
      ::-ms-reveal {
        display: none;
        width: 0;
        height: 0;
      }
    }
    transition: 0.3s;
  }
}

.fa-magnifying-glass {
  width: 24px;
  height: 24px;
}

.signin-link {
  text-decoration: none;
}

/* ----Account Manager--- */
.nav-bar-main-accout-manager {
  height: 48px;
  width: 100px;
  display: flex;
  align-items: center;
}

.user-menu-dropdown-main {
  display: flex;
  align-items: center;
}

.user-menu-account-entry-main {
  display: flex;
  justify-content: space-around;
  padding: 10px 15px;
  i {
    margin: 2px;
  }
  .fa-sort-down {
    transform: translateY(5px);
  }
  &:hover {
    background-color: #f69d2222;
    border-radius: 20px;
    transition: 0.5ms;
  }
}

/* ----Shopping Cart Iconr--- */
.nav-bar-main-cart {
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
