.nav-bar-categories {
  display: flex;
  justify-content: space-between;
  max-width: 1350px;
  margin: auto;
  font-family: "Graphik Webfont", -apple-system, "Helvetica Neue", "Droid Sans",
    Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  a {
    color: rgb(100, 100, 100);
    text-decoration: none;
  }
}

.nav-bar-categories-section:hover {
  transform: scale(1.1);
  text-decoration: underline;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;
}
