.order-index-wrapper {
  padding-top: 40px;
  max-width: 1350px;
  margin: auto;
  h1 {
    font-size: larger;
    font-weight: bold;
  }
  img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
  }
}

.order-index-at-order-level {
  border: 3px red solid;
  margin-bottom: 10px;
}
