.order-index-wrapper {
  padding-top: 40px;
  max-width: 1350px;
  margin: auto;
  h1 {
    font-size: larger;
    font-weight: bold;
  }
  img {
    width: 100px;
    height: 100px;
    border-radius: 20px;
  }
}

.order-index-at-order-level {
  border: 3px red solid;
  margin-bottom: 20px;

  div {
    display: flex;
    justify-content: space-between;
  }
}

.order-index-header {
  border-bottom: 2x solid black;
  background-color: lightgreen;
}
