.category-top-title,
.order-index-wrapper {
  background-color: #f5f5f1f1;
}

.category-top-inner {
  max-width: 1350px;
  margin: auto;
  padding-top: 10px;
}

//*  --- bottom *//
.category-bottom-main {
  margin-top: 10px;
  background-color: #edede7;
}

//main box
.category-bottom-inner {
  max-width: 1050px;
  margin: auto;
}

.order-index-at-order-level {
  margin-bottom: 30px;
  div {
    display: flex;
    justify-content: space-between;
  }
}

.order-index-header {
  border-bottom: 2x solid black;
  border: 3px lightgray solid;
  width: 1050px;
  margin: auto;
  padding: 10px 20px;
  transform: translateX(-4px);
  h2 {
    font-weight: 600;
  }
  i {
    color: orange;
  }
}

.order-index-order-level-items {
  width: 1043px;
  margin: auto;
  background-color: white;
  padding: 10px 20px;
  border-top: 1px lightgray solid;
  border-right: 2px lightgray solid;
  border-bottom: 2px lightgray solid;
  border-left: 2px lightgray solid;
}
.order-index-order-level-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    width: 100px;
    height: 100px;
    border-radius: 20px;
  }
  h1 {
    width: 400px;
    padding: 20px;
  }
  a {
    text-decoration: none;
    color: inherit;
  }

  h3 {
    width: 150px;
    padding: 20px;
  }
}
