.product-item-wrapper {
  max-width: 1350px;
  margin: auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  color: rgb(63, 62, 62);
}

.product-item-left {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin-right: 3%;
}

.product-item-gallery {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  img {
    max-width: 630px;
    max-height: 500px;
    border-radius: 10px;
  }
}

/* ----right section -----*/
.product-item-right {
  width: 39%;
  display: flex;
  flex-direction: column;
}

.product-item-seller-name {
  margin: 0 0 10px 0;
  font-weight: 500;
}

.product-item-name {
  margin: 0 0 20px 0;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.2;
}

.product-item-price {
  font-size: x-large;
  font-weight: 500;
  margin: 0 0 20px 0;
}

.product-item-purchase-btns select {
  margin: 5px 0 10px 0;
  border-radius: 10px;
  width: 100%;
  height: 45px;
  font-size: larger;
  text-align: text;
  text-indent: 10px;
  font-weight: 300;
  box-shadow: 1px 3px 10px 1px rgba(0, 0, 0, 0.73);
  &:focus {
    cursor: pointer;
  }
}

.product-item-buy-now-btn {
  margin: 5px 0 15px 0;
  border-radius: 20px;
  width: 100%;
  height: 45px;
  font-size: larger;
  background-color: white;
  &:hover {
    transition: 0.5ms;
    cursor: pointer;
    outline: 1px solid black;
  }
}

.product-item-add-to-cart-btn {
  margin: 0 0 20px 0;
  border-radius: 20px;
  width: 100%;
  height: 45px;
  font-size: larger;
  color: white;
  background-color: black;
  &:hover {
    transition: 0.5ms;
    cursor: pointer;
    outline: 1px solid black;
  }
}

.product-items-handling {
  p {
    font-size: small;
  }
  span {
    font-weight: 500;
  }
}

.product-item-description {
  p {
    padding: 20px 0 10px 0;
    font-weight: 600;
  }
  textarea {
    border: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
    font-size: larger;
    font-family: "Graphik Webfont", -apple-system, "Helvetica Neue",
      "Droid Sans", Arial, sans-serif !important;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.3;
    letter-spacing: 1.3;
  }
}

.product-item-shipping {
  h1 {
    padding: 20px 0 10px 0;
    font-weight: 600;
  }
  p {
    padding: 0 0 20px 0;
    font-weight: 300;
  }
}

.product-items-shipping-top {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  width: 80%;
}

.product-items-shipping-center {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  width: 80%;
  span {
    color: transparent;
  }
}

.product-items-shipping-bottom {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  width: 80%;
  span {
    color: transparent;
  }
}
