/* ----review posts section -----*/
.product-item-review-title {
  font-weight: 700;
  border-bottom: solid lightgray 2px;
  margin-bottom: 20px;
  padding: 5px 0;
  width: 95%;
  span {
    margin: 5px;
    padding: 3px 15px;
    background-color: lightgray;

    border-radius: 20px;
  }
}

.product-item-reviewer {
  text-decoration: underline;
  padding: 10px 10px 10px 0;
  margin-bottom: 10px;
}

.product-item-review-date {
  // font-weight: 300;
  font-size: small;
}

.product-review-rating-stars {
  transform: translateX(10px);
  margin: 5px 10px;
  i {
    color: rgb(255, 191, 0);
  }
}

.product-item-comment {
  padding: 0 0 10px 0;
  width: 90%;
  margin: 10px 10px 20px;
  transform: translateX(10px);
}

/* ----post a review section -----*/

.post-review-title {
  font-weight: 700;
  border-bottom: solid lightgray 2px;
  margin-bottom: 20px;
  padding: 5px 0;
  width: 95%;
}

.review-star-orange {
  color: orange;
  padding: 1px;
}

.review-star-grey {
  color: gray;
  padding: 1px;
}

.post-review-textarea {
  margin-top: 10px;
  width: 94%;
  height: 80%;
  font-size: larger;
  font-family: "Graphik Webfont", -apple-system, "Helvetica Neue", "Droid Sans",
    Arial, sans-serif !important;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.3;
  letter-spacing: 1.3;
}

.product-item-reviews > form > div > input {
  margin-top: 5px;

  width: 100px;
  height: 35px;
  border-radius: 20px;
  background-color: black;
  text-align: center;
  color: white;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}
