/* close button outside the modal */
.modal-close-x button {
  position: absolute;
  border-radius: 50%;
  border: none;
  width: 48px;
  height: 48px;
  top: 5px;
  right: -55px;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  font-size: large;
}

/* the input fields */
body > div.ReactModalPortal > div > div > form > label > input[type="text"],
body
  > div.ReactModalPortal
  > div
  > div
  > form
  > label
  > input[type="password"] {
  margin-bottom: 8px;
  width: 294px;
  height: 45px;
  box-shadow: 0 1px 4px 0 rgb(34, 34, 4) inset;
  transition: border 200ms ease-out, background 200ms ease-out;
  appearance: none;
  background: #ffffff;
  box-shadow: 0 1px 4px 0 rgb(34, 34, 4) inset;
  border-color: rgba(34, 34, 34, 0.15);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  color: #222222;
  display: block;
  font-family: inherit;
  font-size: 16px;
  line-height: 28px;
  outline: none;
  min-width: 0;
}

.session-signin-register-divider {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 24px;
  margin-bottom: 10px;
}

.session-register-btn {
  border-radius: 24px;
  border: solid 2px;
  width: 81px;
  height: 30px;
  background-color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-5px);
  font-family: "Graphik Webfont", -apple-system, "Helvetica Neue", "Droid Sans",
    Arial, sans-serif;
  font-weight: 700;
  line-height: 24px;
}

.signin-btn,
.signup-btn {
  background-color: black;
  color: white;
  width: 300px;
  height: 48px;
  outline: none;
  border-radius: 24px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.signin-signup-message {
  font-family: "Graphik Webfont", -apple-system, "Helvetica Neue", "Droid Sans",
    Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.session-form-red-asteriks {
  color: #a61a2e;
}
