.header-section {
  margin: auto;
  height: 300px;
  background-color: #fdebd2;
  margin-top: 10px;
  border-top: solid lightgray 1px;
}

#root > div > h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
