.header-section {
  max-width: 1400px;
  margin: auto;
  height: 300px;
  background-color: #fdebd2;
  margin-top: 10px;
}

#root > div > h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
