.nav-bar-categories {
  display: flex;
  justify-content: space-between;
  max-width: 1350px;
  margin: auto;
  font-family: "Graphik Webfont", -apple-system, "Helvetica Neue", "Droid Sans",
    Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: rgb(100, 100, 100);
}
