.nav-bar-main {
  height: 72px;
  align-items: center;
}

.nav-bar-main > div {
  max-width: 1350px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.nav-bar-main-logo a {
  text-decoration: none;
  height: 48px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  font-size: xx-large;
  color: #ec7d10;
  margin-right: 10px;
}

.nav-bar-main-search {
  height: 48px;
  width: 100%;
}

.nav-bar-search-section {
  display: flex;
  justify-content: space-between;
  float: 1;
}

.nav-bar-main-search > form > input[type="search"]:nth-child(1) {
  margin-top: 2px;
  width: 100%;
  height: 47px;
  border-radius: 40px 0 0 40px;
  font-size: medium;
  text-indent: 1em;
  display: flex;
  flex: 1;
  background-color: transparent;
  border-width: 2px;
  border-color: #222222;
  font-family: "Graphik Webfont", -apple-system, "Helvetica Neue", "Droid Sans",
    Arial, sans-serif;
}

.nav-bar-main-search > form > input[type="submit"]:nth-child(2) {
  margin-top: 2px;
  width: 62px;
  height: 47px;
  border-radius: 0 40px 40px 0;
  border-width: 2px;
  border-color: #222222;
}

.signin-link {
  text-decoration: none;
}

.nav-bar-main-accout-manager {
  height: 48px;
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-bar-main-cart {
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
