/* close button outside the modal */
.modal-close-x button {
  position: absolute;
  border-radius: 50%;
  border: none;
  width: 48px;
  height: 48px;
  top: 5px;
  right: -55px;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  font-size: large;
}

/* two input fields */
body
  > div.ReactModalPortal
  > div
  > div
  > form
  > label:nth-child(1)
  > input[type="text"],
body
  > div.ReactModalPortal
  > div
  > div
  > form
  > label:nth-child(3)
  > input[type="password"] {
  margin-bottom: 20px;
  width: 294px;
  height: 48px;
  box-shadow: 0 1px 4px 0 rgb(34 34 34 / 10%) inset;
  transition: border 200ms ease-out, background 200ms ease-out;
  appearance: none;
  background: #ffffff;
  box-shadow: 0 1px 4px 0 rgb(34 34 34 / 10%) inset;
  border-color: rgba(34, 34, 34, 0.15);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  color: #222222;
  display: block;
  font-family: inherit;
  font-size: 16px;
  line-height: 28px;
  height: 48px;
  outline: none;
  min-width: 0;
}

.session-signin-register-divider {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 24px;
  margin-bottom: 10px;
}

.session-register-btn {
  border-radius: 24px;
  width: 81px;
  height: 36px;
  background-color: white;
  font-size: 13px;
}

.signin-btn {
  background-color: black;
  color: white;
  width: 300px;
  height: 48px;
  outline: none;
  border-radius: 24px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
